<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="reportListeners.TestListeners"/>
	</listeners>
	
	<test name="Selenium Learning">
		<classes>
			<class name="runners.HomePageTestRunner"></class>
			<!-- class name="runners.SimpleInputFormRunner"></class-->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
